# Node Modules
node_modules/

# Logs
*.log

# Mac System Files
.DS_Store

# Build Output
temp/

# Vim Swap Files
*.swp

# Backup Files
*.save

# Backup Files with extensions
*.save.*

# Visual Studio Code settings
.vscode/

# assets/demo.html
assets/demo.html